<div class="mainTable">
    <h4 class="aa_h2">Order Details</h4>
    <table>
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Id</td>
            <td> {{ orderDetails.id }} </td>
        </tr>
        <tr>
            <td>Creation Date </td>
            <td> {{ orderDetails.creationDate }} </td>
        </tr>
        <tr>
            <td>Status</td>
            <td> {{ orderDetails.status }} </td>
        </tr>
        <tr>
            <td>Party Name </td>
            <td> {{ orderDetails.partyName }} </td>
        </tr>
        <tr>
            <td>Primary Manager </td>
            <td> {{ orderDetails.primaryManager }} </td>
        </tr>
        <tr>
            <td>Secondary Manager </td>
            <td> {{ orderDetails.secondaryManager }} </td>
        </tr>
        <tr>
            <td>Delivery City </td>
            <td> {{ orderDetails.deliveryCity }} </td>
        </tr>
        <tr>
            <td>Product Category</td>
            <td> {{ orderDetails.productCategory }} </td>
        </tr>
        <tr>
            <td>Product Code</td>
            <td> {{ orderDetails.productCode }} </td>
        </tr>
        <tr>
            <td>Product Description</td>
            <td> {{ orderDetails.productDescription }} </td>
        </tr>
        <tr>
            <td>Quality</td>
            <td> {{ orderDetails.quality }} </td>
        </tr>
        <tr>
            <td>Quatity</td>
            <td> {{ orderDetails.quantity }} </td>
        </tr>
        <tr>
            <td>Shape</td>
            <td> {{ orderDetails.shape }} </td>
        </tr>
        <tr>
            <td>Color </td>
            <td> {{ orderDetails.color }} </td>
        </tr>
        <tr>
            <td>Polish </td>
            <td> {{ orderDetails.polish }} </td>
        </tr>
        <tr>
            <td>Unit</td>
            <td> {{ orderDetails.unit }} </td>
        </tr>
        <tr>
            <td>Height </td>
            <td> {{ orderDetails.height }} </td>
        </tr>
       
        <tr>
            <td>Length </td>
            <td> {{ orderDetails.length }} </td>
        </tr>
        <tr>
            <td>Width</td>
            <td> {{ orderDetails.width }} </td>
        </tr>
        <tr>
            <td>Developed Quantity </td>
            <td> {{ orderDetails.developedQuantity }} </td>
        </tr>
        <tr>
            <td>Dispatched Quantity</td>
            <td> {{ orderDetails.dispatchedQuantity }} </td>
        </tr>
        <tr>
            <td>Left Quantity</td>
            <td> {{ orderDetails.leftQuantity }} </td>
        </tr>

    </table>

    <div>
        <div class="form-group" style="position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1%;
        align-items: center;">
          <button class="btn btn-primary btn-block" (click)="backToGetOrder()">Back</button>
        </div>
    </div>
     
  </div>



  