<div class="container">
  <form #getOrderForm="ngForm" [formGroup]="getOrderCompForm">
    <div class="row col-md-3 col-sm-6 col-xs-6" style="width: 18rem;">
      <label for="selectStatus">Select Status</label>
      <select 
          name="selectStatus" 
          id="selectStatus"
          formControlName="selectStatus" 
          class="form-control"
          
          >
          <option *ngFor="let stat of status" [value]="stat.label">{{ stat.label }}</option>
          <!-- <button class="btn btn-primary btn-block" (click)="onSelectStatusChange(getOrderForm)">Search</button> -->

      </select>
      <div class="form-group">
        <button class="btn btn-primary btn-block" (click)="onSelectStatusChange(getOrderForm)" style="margin: 8px;">Search</button>
      </div>
      <div class="form-group spinner-border text-secondary spinner-border-md" style="margin: 16px; padding: 4px;" *ngIf="isFetching" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <!-- (change)= "onSelectStatusChange($event)" -->
    </div>

  </form>

    <div class="row">
        <div class="card col-md-3 col-sm-6 col-xs-6" style="width: 18rem; margin: 12px; padding:2px;" *ngFor="let num of response">
            <div class="card-body">
              <h5 class="card-title">{{num.partyName}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{num.productDescription}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{num.deliveryDate}}</h6>
              <p class="card-text">{{num.status}}</p>
              <a  class="card-link" [routerLink]="[ '/order-confirmation',num]">Edit</a>
              <a  class="card-link" (click)="openPopup(num)">Delete</a>
              <a href="#" class="card-link">View</a>
            </div>
          </div>
  </div>

  <div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete order</h4>
      </div>
      <div class="modal-body">
        <p>Order will be copletely deleted.</p>
      </div>
      <div class="modal-footer row">
        <button type="button" class="btn btn-danger" 
                (click)="deleteFromPopup()" style="margin-right: 16px;">
          Delete
        </button>
        <button type="button" class="btn btn-light" 
                (click)="closePopup()" style="margin-right: 4px;">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>