<nav id="mainNavbar"  class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">CRM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
     data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
     aria-expanded="false" aria-label="Toggle navigation"
     (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <ul class="navbar-nav">
      <li class="nav-item active" *ngIf="loginSuccess">
        <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="/order-confirmation">Add New Order</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="/get-orders">Get Orders</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="/add-company">Add Company</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="/add-stock">Add Stock</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="/add-user">Add Users</a>
      </li>
      <!-- <li class="nav-item" >
        <a class="nav-link" href="/gate-pass">Gate pass</a>
      </li> -->
      <li class="nav-item" >
        <a class="nav-link" href="/login">logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="center-me"><router-outlet></router-outlet></div> 

<!-- <div class="container" *ngIf="!loginSuccess">
  <form #loginForm="ngForm" [formGroup]="loginCompForm">
    <div class="form-group">
      <label>Login id</label>
      <input type="text" class="form-control" name="loginId" formControlName="loginId" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="text" class="form-control" name="password" formControlName="password" required>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" (click)="login(loginForm)">login</button>
    </div>
  </form>
</div> -->
